.wd-status-center {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wd-status-publish-btns button {
    padding-left: 5px;
}

.wd-status-assignments {
    text-align: left;
  }

  .wd-status-assignments h6 {
    color: red;
    font-size: 16px;
  }


  .wd-status-todo-close {
    color: gray;
    font-size: 50px;
    padding-right: 14px;
    margin-top: -10px;
  }

  .wd-status-details {
    margin-top: -10px;
  }

  .wd-status-coming-calendar {
    color: red;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
    margin-right: 5px;
  }

  .wd-status-cu-left-red {
    color: red;
    margin-left: 32px;
  }

  .wd-status-btn button {
    width: 225px;
    margin-top: 5px;
    text-align: left;
}

.wd-todo hr {
    width: 225px;
}

.wd-circle {
    width: 22px;
    height: 22px;
    border-radius: 50%; /* Ensure it's a circle */
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    margin-left: 18px;
  }


  /* .wd-black-top-bar {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
  } */

  /* .wd-black-top-bar p {
    line-height: 1.5;
  }

.wd-black-top-bar i {
    margin-top: 40px;
    
  }

a[aria-expanded=true] .fa-chevron-down {
    display: none;
 }

a[aria-expanded=false] .fa-close {
    display: none;
 }

 a {
  color: black;
 } */


.wd-collapse-list {
  width: 100vw;
  z-index: 1000;
  background-color: white;
  height: 100%;
  padding-bottom: 100%;
  list-style-type: none;
  text-decoration: none;


} 

.wd-collapse-list li {
  height: 40px;
  text-align: left;
  z-index: 1000;
  background-color: white;
  text-decoration: none;
}

.wd-collapse-list li a {
  text-align: left;
  color: red;
  z-index: 1000;
  background-color: white;
  text-decoration: none;
} 

.wd-collapse-list-text-pad {
  margin-left: 20px;
}

/* .wd-full-screen {
  display: block;
}

.wd-small-screen {
  display: none;
}

/* Styles for smaller screens */
/* @media (max-width: 768px) {
  .wd-full-screen {
    display: none;
  }

  .wd-small-screen {
    display: block;
  } */
/* } */ 